page-login {
    text-align: center;

    & .login-logo{
        margin-top: 10px;
        margin-bottom: 30px;
    }

    & .login-title{
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #151517;
        margin-bottom: 10px;
        margin-top: 50px;
    }

    & .login-subtitle{
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #a9a9a9;
        margin-bottom: 25px;
    }

    & .login-facebook-button{
        width: calc(100% - 40px);
        height: 40px;
        background-color: #3B5998;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        color: #ffffff;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        border-radius: 5px;
        margin-bottom: 20px;
        cursor: pointer;
        > img{
            height: 25px;
            float: left;
            margin-top: 7px;
            margin-left: 7px;
            // margin-bottom: -4px;
            // margin-right: 12px;
        }

        & .login-facebook-text{
            display: inline-block;
            margin-left: -10px;
        }
    }

    & .divider{
        width: calc(100% - 20px);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #a6a6a6;
        display: inline-block;
        margin-bottom: 30px;

        & .bar{
            margin-top: 9px;
            color: #a6a6a6;
            width: 130px;
            height: 1px;
            background-color: #d6dae3;
        }
    }


    & .form-group{
        background-color: white;
        ion-label{
            padding-top: 15px;
            padding-left: 20px;
            margin-top: 0;
            margin-bottom: 0;
        }

        & .text-input{
            margin-left: 20px !important;
            width: calc(100% - 20px - 8px);
        }

        & .input-label{
            color: #b4b6ba;
            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }

        text-align: left;
        box-shadow: inset 0 -1px 0 0 #d6dae3;
    }

    & .submit-button{
        width: calc(100% - 80px);
        height: 50px;
        border-radius: 3px;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
        background-image: linear-gradient(97deg, #2f77d2, #008cff);
        padding-bottom: 10px;
        margin-top: 30px;
        margin-bottom: 10px;
        line-height: 50px;
    }

    & .default-text{
        text-align: center;
        display: block;
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-top: 15px;
    }

        .scroll-content{
    background-color: #f8f8f8 !important;
}
}


// .content{
//     background-color: #f8f8f8 !important;
// }