<ion-content  has-bouncing="true">
    <!-- <img class="login-logo" src="assets/imgs/nabia-cmbraga-apps-logo.png" /> -->
    <div *ngIf="!consentOverlay">
    <div class="login-title">
        Bem vindo
    </div>
    <div class="login-subtitle">
      Insira os seus dados para avançar
    </div>
    <div class="login-facebook-button" (click)="loginWithFacebook()">
        <img src="assets/imgs/fb-logo.png"/><div class="login-facebook-text">Log in With Facebook</div>
    </div>

    <div class="divider">
      <div class="bar" style="float: left;"></div>
      OU
      <div class="bar" style="float: right;"></div>
    </div>

    <form [formGroup]="login" role="form" (ngSubmit)="submitForm($event, login.value)" *ngIf="!loginFailedCover && !facebookLogin">
      <div class="form-group">
        <ion-label class="input-label">EMAIL<span class="text-danger" *ngIf="(login.controls['email'].hasError('required') && (login.controls['email'].dirty || login.controls['email'].touched)) || (login.controls['email'].hasError('email') && (login.controls['email'].dirty || login.controls['email'].touched))">*</span></ion-label>
        <ion-input type="email" class="form-control input-area" placeholder="Inserir email..." formControlName="email" role="form" novalidate=""></ion-input>
      </div>
      <div class="form-group"  style="box-shadow:none;">
        <ion-label class="input-label">PASSWORD<span class="text-danger" *ngIf="login.controls['password'].hasError('required') && (login.controls['password'].dirty || login.controls['password'].touched)">*</span></ion-label>
        <ion-input type="password" class="form-control input-area" placeholder="Inserir password..." formControlName="password" role="form" novalidate=""></ion-input>
      </div>
      <button class="submit-button" type="submit" [disabled]="!login.valid">Iniciar sessão</button>
    </form>
    <div class="default-text" style="cursor: pointer;" (click)="goToRecoverPassword()">Esqueceu-se da password?</div>
    <div class="default-text">Não tem conta? <span (click)="goToRegister()" class="clickable-text">Criar conta.</span></div>  
    <div class="cover" *ngIf="fbloginFailedCover">
        <img src="assets/imgs/error.png" />
        <div class="cover-title">Login falhou</div>
        <div class="cover-subtitle">Ocorreu um erro a autenticar o utilizador com o facebook, tente novamente mais tarde</div>
        <button class="cover-button" type="button" (click)="dismissCover()">Ok</button>      
    </div>
    </div>
    <div class="cover" *ngIf="loginFailedCover">
      <div class="cover-elements-wrapper">
        <img src="assets/imgs/error.png" />
        <div class="cover-title">Login falhou</div>
        <div class="cover-subtitle">Por favor verifique as suas credênciais e tente novamente</div>
        <button class="cover-button" type="button" (click)="dismissCover()">Ok</button>      
      </div>
    </div>
    <div class="cover" *ngIf="facebookLogin">
        <div class="cover-elements-wrapper">
            <img src="assets/imgs/nabia-cmbraga-apps-logo.png" />
          <div class="cover-title">A entrar com Facebook...</div>
        </div>
      </div>
      <div class="consentOverlay" *ngIf="consentOverlay">
          <div class="consentText">
            <div class="titleTC">Termos e Condições de utilização</div>
            <div class="titleTerms">O QUE É A APLICAÇÃO BRAGA RESOLVE</div>
            <div class="paragraphTerms">
              A aplicação Braga Resolve é uma aplicação móvel que permite aos cidadãos reportarem ocorrências verificadas em Braga como é exemplo arvores caídas, sinais de trânsito avariados, entre outras. A aplicação permite também ao utilizador visualizar as intervenções da Câmara Municipal de Braga no espaço público de Braga em tempo real.
            </div>
            <div class="titleTerms">COMO ACEDER A APLICAÇÃO</div>
            <div class="paragraphTerms">
              A aplicação está disponível nas lojas da Google e da Apple sendo que para aceder à mesma somente terá que fazer a pesquisa da aplicação pelo nome Braga Resolve e descarregar a mesma para o telemóvel.
              Depois de ter a aplicação no telemóvel o utilizador deverá fazer o registo na mesma através de autenticação via Facebook ou email e poderá dar inicio ao uso da aplicação.
              A utilização da aplicação requer a utilização de internet. Para aceder ao Assistente Digital deverá usar um dispositivo habilitado ao uso da internet e uma conexão de internet rápida o suficiente.
            </div>
        
            <div class="titleTerms">TRATAMENTO DE INFORMAÇÃO</div>
            <div class="paragraphTerms">
              A utilização da aplicação Braga Resolve implica o acesso a determinadas informações pessoais. Só poderá utilizar a aplicação Braga Resolve se concordar em fornecer as informações necessárias para a utilização da aplicação. 
              A utilização da aplicação Braga Resolve implica que seja guardada a seguinte informação do utilizador, disponibilizada pelo Facebook ou introduzida pelo próprio no momento de registo: Nome, Apelido, Email, Género, Foto de Perfil, Fuso, Horário, Id de utilizador do Facebook (quando aplicável), Contacto Telefónico, Morada e quaisquer informações submetidas pelo utilizador durante a utilização da plataforma.
              Assim, o tratamento dos dados consistirá na recolha/ registo/ organização/ estruturação/ conservação/ recuperação/ consulta/ utilização/ apagamento/ destruição de dados pessoais. Os dados pessoais serão tratados de acordo com as disposições legais relativas à proteção e privacidade de dados pessoais que em cada momento estejam em vigor.  
              Os dados pessoais do utilizador serão tratados de acordo com a Política Geral de Privacidade para a proteção de dados pessoais dos utilizadores. Levamos a segurança de dados muito a sério. Não são compartilhadas informações pessoais para publicidade de terceiros.
            </div>
            <div class="titleTerms">PREÇO</div>
            <div class="paragraphTerms">
              A utilização da aplicação é totalmente gratuita.
            </div>
            <div class="titleTerms">UTILIZAÇÃO DA APLICAÇÃO</div>
            <div class="paragraphTerms">
              A utilização da aplicação tem implícito um acordo de utilização que pode, ou não, aceitar. SE NÃO ACEITAR ESTES TERMOS E CONDIÇÕES, NÃO TEM O DIREITO DE UTILIZAR O ASSISTENTE VIRTUAL, NEM O DEVE FAZER.
              Ao aceitar estes Termos e Condições poderá exercer os direitos e ficará vinculado às limitações seguintes.
            </div>
            <div class="subtitleTerms">Utilização</div>
            <div class="paragraphTerms">
              Pode utilizar a aplicação com o propósito de reportar ocorrências do espaço publico de Braga bem como para receber a informação sobre o tratamento da ocorrência reportada à Câmara Municipal. Ainda poderá utilizar a aplicação para ver as intervenções realizadas pela Câmara municipal de Braga em tempo real.
            </div> 
            <div class="subtitleTerms">Restrições</div>
            <div class="paragraphTerms">
              O utilizador não poderá:
            
            <ul>
            <li>Utilizar a aplicação de uma forma não permitida por lei, nomeadamente para:</li>
            <li>
            <ul>
                <li>difamar, insultar, abusar, perseguir, ameaçar ou violar os direitos legais de terceiros;</li>
                    <li>discriminar ou incitar à violência;</li>
                        <li>transmitir vírus, partilhar conteúdo inapropriado, publicidade, spam, spyware ou malware;</li>
                            <li>infringir os direitos de terceiros.</li>
            </ul>
          </li>
            <li>Remover, modificar ou manipular qualquer notificação ou hyperlink incorporados na aplicação.</li>
          </ul>
        </div>
            <div class="titleTerms">RESCISÃO DO SERVIÇO</div>
            <div class="paragraphTerms">
              Todo e qualquer utilizador pode rescindir o serviço a qualquer momento, bastando para tal apagar a aplicação do seu telemóvel. 
              Para efeitos de atualização de dados, portabilidade de dados, informação sobre dados pessoais usados e/ou apagamento de dados, somente terá que enviar o pedido para a Câmara Municipal de Braga através do endereço: municipe@cm-braga.pt.  
            </div>
            <div class="titleTerms">ALTERAÇÕES AOS TERMOS E CONDIÇÕES</div>
            <div class="paragraphTerms">
              Reservamo-nos o direito de poder modificar os Termos e Condições relativos à aplicação a qualquer momento, sem aviso prévio, a fim de garantir que os nossos serviços sejam seguros e que os seus dados pessoais estejam seguros, ou sempre que atualizarmos ou modificarmos os nossos serviços. 
              Se fizermos uma alteração nesses termos que afetem seus direitos ou obrigações, será notificado desse facto.
            </div>
            <div class="titleTerms">LIMITAÇÕES À PRESTAÇÃO DE SERVIÇOS</div>
            <div class="paragraphTerms">
              Por vezes a aplicação poderá não funcionar. Podemos não ser capazes de fornecer o serviço caso o mesmo seja afetado por eventos fora do nosso controle, como é exemplo falhas da internet ou serviços externos. Caso tal aconteça, iremos notificá-lo o mais rapidamente possível e tomaremos as medidas que razoavelmente pudermos para minimizar a interrupção dos serviços.
            </div>
            <div class="titleTerms">EFEITO LEGAL</div>
            <div class="paragraphTerms">
              As condições de funcionamento e utilização da aplicação regem-se exclusivamente pelas leis de Portugal, sendo o tribunal competente para resolução dos eventuais litígios o Tribunal da Comarca de Braga, com expressa renúncia a qualquer outro.
              Na eventualidade de alguma ou algumas das disposições dos presentes Termos e Condições serem considerados parcial ou totalmente inválidas, ilícitas ou ineficazes por uma autoridade competente, a(s) referida(s) disposição(ões) deverá(ão) ser considerada(s) nula(s), mantendo-se as restantes disposições válidas e devendo estas ser cumpridas, nos termos legais.  
            </div>
          </div>
          <div class="consentButtons">
            <button class="consentAccept" (click)="acceptTerms()">Autorizo</button>
            <button class="consentReject" (click)="rejectTerms()">Não autorizo</button>
          </div>
        </div>
</ion-content>
