page-register {
    .register-title{
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #151517;
        margin-top: 15px;
    }
    .register-subtitle{
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #a9a9a9;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .input-label{
        margin: 10px 10px 0 15px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #b4b6ba;
    }

    .text-input{
        margin: 13px 8px 13px 15px;
        margin-left: 16px !important;
    }

    ion-input{
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #49515b;
    }

    form{
        background-color: white;
    }

    .form-group{
        box-shadow: inset 0 -1px 0 0 #d6dae3;
    }

    .split-screen-input-wrapper{
        box-shadow: inset 0 -1px 0 0 #d6dae3;
        & .form-group{
            width: calc(50% - 2px);
            display: inline-block;
            box-shadow:none;
        }

        & .right-side-form{
            border-left: solid 1px rgba(214, 218, 227, 0.5);
        }
    }

    .form-bottom-section{
        background-color: #f8f8f8;
        text-align: center;
        padding-top: 20px;
    }

    .submit-button{
        width: calc(100% - 40px);
        height: 50px;
        border-radius: 3px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
        background-image: linear-gradient(97deg, #2f77d2, #008cff);
        padding-bottom: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 50px;
    }

    .termsAndConditions{
        display: inline-block;
        margin-bottom: -3px;
        width: 16px;
        height: 16px;
        background-image: url("../assets/imgs/unchecked.png");
        background-size: contain;
    }
    .checked{
        background-image: url("../assets/imgs/checked.svg");
    }

    .scroll-content{
        background-color: #f8f8f8 !important;
    }


}


