page-report {



    .form-group{
        margin-bottom: 14px;
        & ion-label{
            display: block;
            margin-bottom: 8px;
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #49515b;
        }

        textarea{
            height: 130px !important;
            resize: none;
            padding-top: 12px;
            background: #f7f7f7;
           // padding: 10px;
        }

        ion-input{
            height: 35px;
        }
        & .form-control{
            width: 100%;
            height: 40px;
            border-radius: 6px;
            background: #f7f7f7;
            // border: solid 1px #e3e1e1;
            border: none;
            padding-right: 10px;
            padding-left: 10px;
            border-bottom: solid 1px #e3e1e1;
        }

        & .form-control::placeholder{
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #A3A3A3;
        }

        & .upload-button{
            height: 50px;
            font-family: Montserrat;
            letter-spacing: 0.5px;
            text-align: left;
            color: #b4b4b4;
            width: 49%;
            display: inline-block;
            border-radius: 100px;
            background-color: #f7f7f7;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #7f8fa4;
            border-bottom: solid 1px #e3e1e1;

            & img{
                margin-right: 9px;
                margin-bottom: -3px;
            }
        }

        & .input-area{
            height: 35px;
        }
    }
    .submit-button{
        width: 100%;
        height: 49px;
        border-radius: 4px;
        background-color: #0080ff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 10px;
    }

    .select{
        max-width: 100%;
        border-radius: 6px;
        background-color: #f7f7f7;
        border-bottom: solid 1px #e3e1e1;
        // border: solid 1px #e3e1e1;
    }

    .select-wp{
        margin: 0;
        height: 42px;
        line-height: 42px;
    } 

    .select-md{
        padding: 8px 8px 5px 16px;
    }
    .text-input-md{
        margin: 8px; 
    }
}


.scroll-content{
    padding-bottom: 0 !important;
}

.text-input-wp{
    margin: 0;
    padding: 0;
    border: none;
}

.text-input-ios{
    margin-left: 4px !important;
}

.content{
    background-color: #fff !important;
}

// .scroll-content{
//     background-color: #122c4b !important;
// }

.activated {
    background-color: #0080ff !important; 
}

.picWrapper{
    display: flex;
    .occurPic{
        height: 50px;
        width: 50px;
        border-radius: 6px;
    }

    & button{
        margin-left: 10px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #7f8fa4;
        background-color: #FFF !important;
    }
    & .activated{
        background-color: #fff !important;
    }

}

.menu-content{
    background-color: #122c4b !important;
}