<!--
  Generated template for the ReportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title class="occurrence-title">Reportar ocorrência</ion-title>
    <button ion-button menuToggle class="menu-button">
        <ion-icon name="menu" class="menu-button" #content></ion-icon>
      </button>
  </ion-navbar>
</ion-header>
<ion-menu [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menu-title">Menu</ion-title>
      <button ion-button menuToggle class="menu-close" end>
        <ion-icon name="close" menu-close></ion-icon>
      </button>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-list>
      <button ion-item class="current-area" menu-close>
          <ion-icon name="warning" class="menu-icon"></ion-icon> Reportar ocorrência
      </button>
      <button ion-item (click)="navigateToMap()" menu-close>
          <ion-icon name="add-circle" class="menu-icon"></ion-icon> Mapa de intervenções
      </button>
    </ion-list>
    <button ion-item class="logout-button" (click)="logout()">
      <img src="{{user.photo}}" class="user-image"/>
        <div class="user-name">{{user.firstName}} {{user.lastName}}</div>
        <div class="logout-text">Terminar sessão</div>
    </button>
  </ion-content>
</ion-menu>

<ion-content padding has-bouncing="true">
  <form [formGroup]="occurrence" role="form" (ngSubmit)="logForm($event, occurrence.value)" *ngIf="!reportFailed && !reportSuccess">
      <div class="form-group">
          <ion-label class="input-label">Tipo de ocorrência</ion-label>
          <ion-select item-left  name="type" [selectedText]="type" placeholder="Selecione o tipo de ocorrência" [selectOptions]="{title:'Selecione o tipo de ocorrência'}" role="form" formControlName="type">
              <div *ngFor="let type of types">
                <ion-option value="{{type}}">{{type}}</ion-option>
              </div>
            </ion-select>
        </div>    
    <div class="form-group">
      <ion-label class="input-label">Localidade</ion-label>
      <ion-select item-left  name="locality" [selectedText]="locality" placeholder="Selecione a localidade" [selectOptions]="{title:'Selecione a localidade'}" (ionChange)="selectOnChange($event)"  role="form" formControlName="location">
        <div *ngFor="let locality of localities">
          <ion-option value="{{locality.locality}}">{{locality.locality}}</ion-option>
        </div>
      </ion-select>
    </div>
    <div class="form-group">
      <ion-label class="input-label">Morada</ion-label>
      <ion-input type="text" class="form-control input-area" placeholder="Insira a morada" formControlName="address" role="form" novalidate=""></ion-input>
    </div>
    <div class="form-group">
      <ion-label class="input-label">Descrição</ion-label>
      <textarea formControlName="description" role="form" novalidate="" class="report-description form-control" placeholder="Inserir descrição"></textarea>
    </div>
    <ion-input type="hidden" style="display:none;" role="form" formControlName="file"></ion-input>
      <div class="form-group"> 
          <ion-label class="input-label">Anexar fotografia</ion-label>
          <button  *ngIf="!base64Image" class="upload-button" type="button" (click)="fileUpload(true)"><img src="assets/imgs/gallery.png" />Tirar foto</button>
          <button  *ngIf="!base64Image" class="upload-button" type="button" (click)="fileUpload(false)"><img src="assets/imgs/camera.png" />Galeria</button>
          <div class="picWrapper" *ngIf="base64Image">
            <img class="occurPic" src="{{base64ImageFinal}}" /> 
            <!-- <div class="occurPic" [ngStyle]="{'background-image': 'url(' + base64Image  + ')'}"> -->
            <button class="remove" type="button" (click)="clearPhoto()">Remover Foto</button>
          </div>
      </div>
    <button class="submit-button" type="submit" [disabled]="!occurrence.valid || uploading"><span *ngIf="uploading">A enviar...</span><span  *ngIf="!uploading">Enviar</span></button>
  </form>
<div class="cover" *ngIf="reportSuccess">
  <div class="cover-elements-wrapper">
    <img class="cover-icon" src="assets/imgs/success.png" />
    <div class="cover-title">Ocorrência reportada com sucesso</div>
    <div class="cover-subtitle">Assim que possível iremos analisar a sua ocorrência.</div>
    <button class="cover-button" type="button" (click)="navigateToMap()">Ir para mapa de ocorrências</button>
  </div>
</div>
<div class="cover" *ngIf="reportFailed">
  <div class="cover-elements-wrapper">
    <img src="assets/imgs/error.png" />
    <div class="cover-title">Reporte falhou</div>
    <div class="cover-subtitle">A morada indicada não existe.</div>
    <button class="cover-button" type="button" (click)="dismissCover()">Ok</button>    
  </div>  
</div>
</ion-content>
