<ion-header>
    <ion-navbar >
        <ion-buttons left>
            <button ion-button icon-only (click)="backModal()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
      <ion-title>Detalhe da intervenção</ion-title>
    </ion-navbar>
  </ion-header>
    
  <ion-content padding  has-bouncing="true">
    <div *ngIf="occurrence">
      <div class="modal-title">
          {{occurrence.address}}
        </div>
      <div class="intervention-header">
        <!-- <div class="intervention-logo-wrapper">
          <img class="intervention-logo" src="assets/imgs/braga-profile-logo.png" />
        </div> -->
        <!-- <div class="intervention-title-wrapper">
          <div class="intervention-title">Munícipio de Braga</div>
          <div class="intervention-subtitle">{{timeAgo}}</div>
        </div> -->
      </div>
      <div class="state">
        <img src="{{getIconByState(occurrence.state)}}">
        <div *ngIf="occurrence.state === 0" style="color: #F25A72">Aguarda resolução</div>
        <div *ngIf="occurrence.state === 1" style="color: #0280FF">Em resolução</div>
        <div *ngIf="occurrence.state === 2" style="color: #B8C8C3">Aguarda validação</div>
        <div *ngIf="occurrence.state === 3" style="color: #0BB40F">Resolvido</div>
      </div> 
      <div class="intervention-body" *ngIf="!occurrence.intervention">
          {{occurrence.description}}
      </div>
      <div class="intervention-body" *ngIf="occurrence.intervention">
          {{occurrence.intervention.note}}
      </div> 
      <div *ngIf="occurrence.media || occurrence.beforePic">
        <div *ngIf="(occurrence.media || occurrence.beforePic) && !occurrence.afterPic">
          <div class="singlePic">
            <span class="picTitle">
              Foto
            </span>
            <img *ngIf="occurrence.media && !occurrence.beforePic" src="{{occurrence.media}}" id="pic1"/>
            <img *ngIf="occurrence.beforePic" src="{{occurrence.beforePic}}" id="pic1"/>
          </div>
        </div>
        <div *ngIf="(occurrence.media && occurrence.afterPic) || (occurrence.beforePic && occurrence.afterPic)">
          <div class="doublePic">
            <span class="picTitle">
              Antes
            </span>
            <img *ngIf="occurrence.media && !occurrence.beforePic" src="{{occurrence.media}}" id="pic1"/>
            <img *ngIf="occurrence.beforePic" src="{{occurrence.beforePic}}" id="pic1"/>
          </div>
          <div class="doublePic afterPic">
            <span class="picTitle">
              Depois
            </span>
            <img src="{{occurrence.afterPic}}" id="pic2"/>            
          </div>
        </div>
      </div>
      <!-- <div class="intervention-photo-wrapper" *ngIf="occurrence.beforePic">
          <div class="intervention-photo-title">Antes:</div>
        <img class="intervention-photo" src="{{occurrence.beforePic}}" />
      </div>
      <div class="intervention-photo-wrapper" *ngIf="occurrence.afterPic">
          <div class="intervention-photo-title">Depois:</div>
        <img class="intervention-photo" src="{{occurrence.afterPic}}" />
      </div>    -->
    </div>
  </ion-content>