page-occurrence {
    .toolbar-title-md{
        padding-left: 0;
        padding-right: 20px;
    }

    .bar-button-default{
        color: white;
    }

    .title-ios{
        padding-right: 0;
    }

    & .modal-title{
        font-family: Montserrat;
        font-size: 19px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        margin-bottom: 20px;
    }
    & .state{
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        display: flex;
        margin-bottom: 15px;

        & img{
            height: 25px;
            margin-right: 10px;
        }

        & div{
            font-family: Montserrat;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
        }
    }

    & .intervention-logo-wrapper{
        float: left;
        & .intervention-logo{
            width: 38px;
            height: 38px;
            border: solid 1px #eaeaea;
            border-radius: 50%;
        }
    }

    & .intervention-title-wrapper{
        height: 41px;
        display: inline-block;
        padding-top: 3px;
        margin-left: 10px;
        margin-bottom: 10px;


        & .intervention-title{
            font-family: Montserrat;
            font-size: 15px;
            font-weight: 500;
            text-align: left;
            color: #3f3d3d;
        }
        & .intervention-subtitle{
            font-family: Montserrat;
            font-size: 14px;
            text-align: left;
            color: #9a9da0;
        }
    }

    & .intervention-body{
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.92;
        letter-spacing: normal;
        text-align: left;
        color: #565656;
        margin-bottom: 15px;
    }



    & .doublePic{
        width: 47%;
        display: inline-block;

        & img{
            margin-top: 10px;
            border-radius: 4px;
        }
    }

    & .afterPic{
        margin-left: 4%;
    }

    & .singlePic{
        & img{
            border-radius: 4px;
            margin-top: 10px;
        }
    }
}

 .intervention-photo-title{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #3f3d3d;
}


.picTitle{
    margin-bottom: 10px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #7f8fa4;
}