page-home {

    & .scroll-content{
        overflow-y: hidden;
    }
    .home-page{
        width: 100%;
        height: 100%;
        background-image: url('../assets/imgs/nabia-ocorrencias-background-app.jpg');
        background-position: 50%;
        font-family: Montserrat;
        text-align: left;
        color: #ffffff;
        font-size: 23px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;

        & .cmb-logo{
            // width: 160px;
            height: 89px;
            // margin-top: 73%;
            margin-left: 20px;
            margin-bottom: -30px;
        }

        & .logo-title{
            display: inline-block;
            font-size: 25px;
            margin-bottom: 30px;
            margin-left: 15px;
        }

        & .home-title{
            font-size: 23px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            margin-left: 20px;
            margin-top: 15px;
        }

        & .home-divider{
            width: 40px;
            height: 2px;
            border: solid 1px #ffffff;
            margin-left: 20px;
            margin-top: 10px;
        }

        & .home-subtitle{
            opacity: 0.8;
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 10px;
        }

        & .report-button{
            width: calc(100% - 40px);
            height: 49px;
            border-radius: 4px;
            background-color: #0080ff;
            margin-left: 20px;
            margin-top: 15px;
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            text-align: center;
            color: #ffffff;
        }

        & .view-button{
            width: calc(100% - 40px);
            height: 49px;
            border-radius: 4px;
            background-color: #ffffff;
            margin-left: 20px;
            margin-top: 10px;    
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            text-align: center;
            color: #313131;
        }
    }


    .wrapperHome{
        position: absolute;
        bottom: 20px;
    }
}
