<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar hideBackButton>
      <ion-title class="occurrence-title">Mapa de intervencões</ion-title>
      <button ion-button menuToggle class="menu-button">
          <ion-icon name="menu" class="menu-button" #content></ion-icon>
        </button>
    </ion-navbar>
  </ion-header>
  <ion-menu [content]="content"  type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title class="menu-title">Menu</ion-title>
        <button ion-button menuToggle class="menu-close" end>
          <ion-icon name="close" menu-close></ion-icon>
        </button>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu-content">
      <ion-list>
        <button ion-item (click)="navigateToReport()" menu-close>
            <ion-icon name="warning" class="menu-icon"></ion-icon> Reportar ocorrência
        </button>
        <button ion-item class="current-area" menu-close>
            <ion-icon name="add-circle" class="menu-icon"></ion-icon> Mapa de intervenções
        </button>
      </ion-list>
      <button ion-item class="logout-button" (click)="logout()" *ngIf="user">
        <!-- <div class="logout-wrapper"> -->
        <img src="{{user.photo}}" class="user-image"/>
        <!-- <div class="logout-text-wrapper"> -->
          <div class="user-name">{{user.firstName}} {{user.lastName}}</div>
          <div class="logout-text">Terminar sessão</div>
        <!-- </div> --> 
      <!-- </div> -->
      </button>
    </ion-content>
  </ion-menu>


<ion-content>
  <div class="filters">
  <div class="locality-search">
    <ion-select item-left  name="locality" [selectedText]="locality" placeholder="Selecione a localidade" [selectOptions]="{title:'Selecione a localidade'}" (ionChange)="selectOnChange($event)">
      <div *ngFor="let locality of localities">
        <ion-option value="{{locality.locality}}">{{locality.locality}}</ion-option>
      </div>
    </ion-select>
  </div>
  <div class="locality-search typeFilter">
    <ion-select item-left  name="types" [selectedText]="locality" placeholder="Tipo de ocorrência" [selectOptions]="{title:'Selecione o tipo'}" (ionChange)="typeFilterOnChange($event)">
      <div *ngFor="let type of types">
        <ion-option value="{{type}}">{{type}}</ion-option>
      </div>
    </ion-select>
  </div>
  <div class="locality-search searchFilter">
      <ion-input style="padding-left: 2px;" type="text" class="form-control input-area" placeholder="Pesquisar por ocorrência" [(ngModel)]="searchParameter" novalidate=""></ion-input>
  </div>
  <!-- <button class="filterToggler" (click)="toggleFilters()">Filtros</button> -->
  </div>
  <div class="map-wrapper" data-tap-disabled="true">
    <agm-map [latitude]="lat" [longitude]="lng" class="map-home"  [zoomControl]="false" [zoom]="14" [styles]="customStyle" [streetViewControl]="false" data-tap-disabled="true">
      <div *ngFor="let occurrence of occurrences" (click)="navigateToOccurrence(occurrence)" (tap)="navigateToOccurrence(occurrence)"  data-tap-disabled="true">
          <agm-marker *ngIf="occurrence.public && displayOccurrence(occurrence)" [latitude]="occurrence.location.lat" [longitude]="occurrence.location.lng" [markerDraggable]="false" [iconUrl]="getIcon(occurrence)"  (tap)="navigateToOccurrence(occurrence)"    (markerClick)="openModal(occurrence)">
          </agm-marker>
      </div> 
    </agm-map>
    <!-- <div id="map" #map data-tap-disabled="true"></div> -->
    <button (click)="navigateToReport()" class="confirm-button" >Reportar ocorrência</button>
  </div>
</ion-content>
 