page-map {
    .map-wrapper{
        //height: calc(100% - 42px);
        overflow-y: hidden;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        //position: relative;
        //top: -126px;
    }
    .map-home{
        width: 100%;
        height: calc(100% + 20px);
    }

    .toolbar-title-md{
        padding: 0;
        // padding-left: 0;
       // padding-right: 20px;
    }

    .bar-button-default{
        color: white;
    }

    .confirm-button{
        width: calc(100% - 40px);
        height: 49px;
        border-radius: 4px;
        background-color: #0080ff;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        text-align: center;
        color: #ffffff;
        position: absolute;
        bottom: 30px;
        // right: calc(50% - 75px )
        margin-left: 20px;
    }

    .activated {
        background-color: #0080ff !important; 
    }

    .filters{
        height: 126px;
        //top: -126px;
        //position: relative;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 2;
        transition: top 0.5s;

        & .locality-search{
            border-bottom: 1px solid rgba(153, 153, 153, 0.5);
            background: white;
            & ion-select{
                max-width: 100%;
            }
    
            & .select-wp {
                border: none;
                height: 42px;
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 5px;
            }
            & .select-ios{
                height: 42px;
            }
            & .select-icon{
                display: none;
            }
        }

        & .typeFilter{
            width: calc(50% - 20px);
            display: inline-block;
            margin-left: 10px;
            margin-top: 10px;
            border-radius: 10px;
            font-size: 11px;
        }

        & .searchFilter{
            width: calc(50% - 20px);
            display: inline-block;
            margin-left: 20px;
            margin-top: 10px;
            border-radius: 10px;
            font-size: 11px;
        }

        & .filterToggler{
            text-align: center;
            color: white;
            font-weight: bold;
            background-color: #0080ff;
            height: 20px;
            width: 60px;
            border-radius: 2px;
            margin-top: 5px;
            margin-left: 5px;
        }


    }
    & .viewFilters{
        top: 0 !important;
    }

    #map {
        height: 100%;
    }

    .scroll-content{
        overflow-y: hidden;
    }
}



ion-app.gmaps_cdv .nav-decor{
    display: none !important;
 }

 .menu-content{
    background-color: #122c4b !important;
}

.select-ios {
    height: auto !important;
}