page-resetpassword {
    .toolbar-title-md{
        padding-left: 0;
        padding-right: 20px;
    }

    .bar-button-default{
        color: white;
    }

    .title-ios{
        padding-right: 0;
    }

    & .modal-title{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: #000000;
        margin-bottom: 20px;
    }

    & .note{
        padding: 16px;
    }

    & .form-group{
        background: #FFFFFF;
        & .label{
            margin: 0;
            padding-top: 10px;
            padding-left: 10px;
            text-align: left;
        }

        & .text-input{
            margin-left: 10px !important;
        }
    }

    & form{
        text-align: center;
    }
    & .submit-button{
        margin-top: 10px;
        width: calc(100% - 40px);
        height: 49px;
        border-radius: 4px;
        background-color: #0080ff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
    }
}
