<ion-header>
    <ion-navbar >
        <ion-buttons left>
            <button ion-button icon-only (click)="backModal()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
      <ion-title>Recuperar password</ion-title>
    </ion-navbar>
  </ion-header>
    
  <ion-content >
    <div class="note">
        Se não se recorda da sua password original, introduza o e-mail da sua conta e pressione recuperar. Será enviado em e-mail com instruções para recuperar acesso à sua conta.
    </div>
    <form [formGroup]="reset" role="form" (ngSubmit)="sendResetRequest($event, reset.value)">
        <div class="form-group">
            <ion-label class="input-label">EMAIL<span class="text-danger" *ngIf="(reset.controls['email'].hasError('required') && (reset.controls['email'].dirty || reset.controls['email'].touched)) || (reset.controls['email'].hasError('email') && (reset.controls['email'].dirty || reset.controls['email'].touched))">*</span></ion-label>
            <ion-input type="email" class="form-control input-area" placeholder="Inserir email..." formControlName="email" role="form" novalidate=""></ion-input>
        </div>
        <button class="submit-button" type="submit" [disabled]="!reset.valid">Recuperar</button>
    </form>
  </ion-content>